.container {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  background-color: #170447;
  color: #fff;
  border-radius: 20px;
  overflow: hidden;
  font-size: 1.5rem;
  border: solid 2px rgb(34, 20, 125);
  font-weight: bold;
}

.container_light {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  overflow: hidden;
  font-size: 1.5rem;
  border: solid 1px #ccc;
  font-weight: bold;
}

.content_table,
.content_table_light {
  font-weight: bold;
  width: 100%;
  border-collapse: collapse;
  background-color: #170447;
  color: #fff;
  border-radius: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  min-width: 800px;
  height: 100%;
  display: table;
  table-layout: fixed;
}

.content_table_light {
  background-color: #fff;
  color: #2f3137;
}

.content_table thead,
.content_table_light thead {
  font-weight: bold;
  display: table-header-group;
  width: 100%;
  table-layout: fixed;
}

.content_table tbody,
.content_table_light tbody {
  display: table-row-group;
  font-weight: bold;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 60px);
  text-wrap: nowrap;
}

.content_table tbody tr,
.content_table_light tbody tr {
  display: table-row;
  font-weight: bold;
}

.table_header,
.table_header_light,
.table_cell,
.table_cell_light {

  text-align: center;
  padding: 20px 26px;
}

.table_header {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #170447;
  color: #fff;
  border-bottom: solid 2px rgb(34, 20, 125);
}
.table_header_light {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  color: #2f3137;
  border-bottom: solid 2px #ccc;
}

.table_cell {
  border-bottom: solid 2px rgb(34, 20, 125);
  font-weight: bold;
  border-right: none;
  background-color: #170447;
  color: #fff;
  text-transform: capitalize;
}

.table_body > tr:last-child > td {
  border-bottom: none;
}

.content_table tbody::-webkit-scrollbar {
  width: 8px;
}

.content_table tbody::-webkit-scrollbar-thumb {
  background-color: rgb(34, 20, 125);
  border-radius: 4px;
}

.content_table tbody::-webkit-scrollbar-thumb:hover {
  background-color: rgb(50, 30, 150);
}

.content_table tbody::-webkit-scrollbar-track {
  background-color: #170447;
}

.table_cell_light {
  border-bottom: solid 2px #ccc;
  font-weight: bold;
  border-right: none;
  background-color: #fff;
  color: #2f3137;
  text-transform: capitalize;
}

.content_table_light tbody::-webkit-scrollbar {
  width: 8px;
}

.content_table_light tbody::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.content_table_light tbody::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

.content_table_light tbody::-webkit-scrollbar-track {
  background-color: #fff;
}

.container,
.container_light {
  width: 100%;
  overflow-x: auto;
}
