.menu_content {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 0px;
  right: 70px;
}

.item {
  border-radius: 50%;
  color: white;
  padding: 10px;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: solid 2px rgb(34, 20, 125);
  background-color: rgba(75, 49, 242, 0.155);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  transform: rotate(45deg);
}

.active ~ .options .item:hover {
  scale: 1.1;
  transition: scale 0.3s;
}

.active ~ .options .item:nth-child(1) {
  transform: translate(-4.5rem, -2.5rem);
}

.active ~ .options .item:nth-child(2) {
  transform: translate(0, -5.5rem);
  transition-delay: 0.1s;
}

.active ~ .options .item:nth-child(3) {
  transform: translate(4.5rem, -2.5rem);
  transition-delay: 0.2s;
}
